<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li class='<%=ScmsHelpers.isActive("fees", page.name)%>'><a href="admissions-fees.html#intro">Fees</a></li>
      <li class='<%=ScmsHelpers.isActive("faqs", page.name)%>'><a href="admissions-faqs.html#intro">FAQ's</a></li>
    </ul>
  </div>
</div>