h1, h2, h3, h4, .brand {
    font-family: 'sophiabold';
}

body > .navbar .brandimg{
  position: relative;
  top: 5px;
  left: 0px;
}
body > .navbar .brandimg img{
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 400;
}