<table class="table table-bordered">
	<thead>
		<tr>
			<th>Main School</th>
			<th>Per Term</th>
			<th>Annual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Classes 1-8</td>
			<td>£1,224</td>
			<td>£3,672</td>
		</tr>
		<tr>
			<td>Second child</td>
			<td colspan="2">35% discount</td>
		</tr>
		<tr>
			<td>Subsequent children</td>
			<td colspan="2">55% discount</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>Kindergarten</th>
			<th>Per Term</th>
			<th>Annual</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>4 Mornings</td>
			<td>£653</td>
			<td>£1,959</td>
		</tr>
		<tr>
			<td>Afternoons</td>
			<td>£103</td>
			<td>£309</td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th>Parent and Child Group</th>
			<th colspan="2">Payable half termly in advance</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Family session</td>
			<td colspan="2">£6</td>
		</tr>
	</tbody>
</table>

<p class="text-info">Materials required for the main school are chargeable separately. This may include pencils, crayons and musical instruments.</p>	

<div class="alert">
	There will be an annual administration fee of &pound;60 per account. <br />This is refundable &nbsp;on condition that payments are kept up to date
</div>

<p ><a href="admissions-terms.html" class="muted">Terms apply</a></p>