<h1>Admissions</h1>

<p>If you would like to have a look around the school or kindergarten, you are welcome to come for an informal visit during school hours &ndash; please <a href="contact.html">contact</a> the office to arrange this.
</p>


