<div class="span3 sidebar" id="subnav">
	<ul class="nav nav-list sidenav">
		<li class="active"><a href="#education"><i class="icon-chevron-right"></i>Introduction</a></li>
		<li><a href="#main-school"><i class="icon-chevron-right"></i>Main School</a></li>
		<li><a href="#main-school-lessons"><i class="icon-chevron-right"></i> - Lesons</a></li>
		<li><a href="#main-school-curriculum"><i class="icon-chevron-right"></i> - Curriculum</a></li>
		<li><a href="#kindergarten"><i class="icon-chevron-right"></i>Kindergarten</a></li>
		<li><a href="#parent-child"><i class="icon-chevron-right"></i>Parent and Child</a></li>
	</ul>
</div>

<div class="span9">
	<section id="education">
		<div class="page-header">
		 	<h2>What is a Steiner School?</h2>
		</div>     

		<p>Steiner Education is based on the philosophy of the Austrian, Dr.Rudolf Steiner (1861-1925). His study of mankind showed that during childhood and adolescence, physical, emotional and intellectual development follows a particular sequence. The curriculum of a Steiner school reflects this fundamental principle, corresponding to the inner development of the child as he or she journeys from the imaginative world of early childhood to the adult world of clear intellectual thought. Rudolf Steiner founded the first Steiner Waldorf School in Stuttgart in 1919.</p>

		<div padding-top="30px;">
		  <iframe src="//player.vimeo.com/video/1535001" width="500" height="283" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>  
	</section>

	<section id="main-school">
		<div class="page-header">
			<h2>Main School</h2>
		</div>
		<p>The curriculum supports the child's needs at different life stages, develops faculties rather than delivers information and encourages a gratitude for life-long learning.</p>
	</section>

    <section id="main-school-lessons">
        <h3>Lessons</h3>

		<h4>Painting</h4>
		<p>Through the medium of watercolour the children develop a deep and intimate connection with the colours and their individual qualities. In the younger classes such colour work is entirely non-representational, yet the paintings grow quite naturally out of a story told by the teacher. In the older classes these lessons are extended to include other media such as black and white shaded drawing and perspective.</p>

		<h4>Music</h4>
		<p>In the early years the children learn many pentatonic songs and singing games, and learn to play by imitation the pentatonic pipe. Notation is gradually introduced, at first in a pictorial way from class 3; at this time too, the children move onto the recorder. We can supply contact details for local teachers for piano, violin, guitar and flute.</p>

		<h4>Languages</h4>
		<p>Steiner schools were pioneers in showing the benefits of starting a foreign language at the beginning of formal schooling. Through poems and verses combined with action and gesture, through songs, games and little plays, the child gradually develops a feeling for the soul of the language, and only later does he or she approach the written and printed word. In this way a sure foundation is laid, and the learning of grammar, which begins around Class 4, develops quite naturally &nbsp;and healthily out of the living language. We currently offer French as a language.</p>

		<h4>Handwork</h4>
		<p>In these lessons, that run through life at Nant-y-Cwm like a brightly coloured thread, the children&rsquo;s manual dexterity is developed as they learn a whole range of skills from knitting in Class 1 and crocheting in Class 2 to sewing cross-stitch, embroidery, felt making, frame-loom weaving and dress-making on the machine.</p>

		<h4>Games</h4>
		<p>In the younger classes, games are imaginative and non competitive, and a wealth of ring games, catching games and ball games are explored. As the children grow older, team games with rules are introduced, and in Class 5 the children take part in the annual Olympic Games held a Michael Hall involving 20 schools and approximately 400 children. Activities are introduced at the appropriate time to challenge the child&rsquo;s growing skills and capacities, it is also linked with the curriculum i.e. Olympics when studying Ancient Greece, precision movement when studying geometry.</p>

		<h4>Eurythmy</h4>
		<p>This art of movement, initiated and developed by Rudolf Steiner, is an integral element of Steiner-Waldorf education, and can play an important part in the healthy and balanced development of the growing child. Unfortunately we don&rsquo;t have a specialist eurythmy teacher at Nant-y-Cwm at the moment.</p>

		<h4>Gardening</h4>
		<p>Coppice craft and woodwork &ndash; As with other practical work, the children&rsquo;s thinking and understanding are developed through movement, as well as gaining practical skills. In the garden, children gain a practical understanding of nature and the seasons, they take responsibility for and learn skills involved in managing the land, growing food and caring for our orchard. This is extended into coppice craft and woodwork where the woodlands provide raw materials for many uses.</p>
	</section>

	<section id="main-school-curriculum">
		<h3>Curriclum</h3>

		<p>The curriculum supports the child&rsquo;s needs at different life stages, develops faculties rather than delivers information and encourages a gratitude for life-long learning.</p>
		<p>In <strong>Class One (age 6/7)</strong> the children still live in the imaginative world of fairy tales. Yet real work now begins, as the child learns the alphabet through stories and pictures, getting to know each letter as a personal friend rather than as an abstract cipher. By the end of the year the child will have learnt to write simple sentences in capitals. Number work too begins in this class: the child gradually acquires familiarity with and flexibility within the number sequence and times-tables and meets the four basic processes in a lively pictorial context that relates them to the four temperaments. In other main lessons the child explores the natural world through stories which capture the essence of the flowers, animals and elements of the local environment.</p>
		<p>In <strong>Class Two (age 7/8)</strong> the children move on to lower case writing and begin to read, which comes easily after the thorough grounding in writing of Class One. The story material now progresses away from fairy tales &ndash; on the one hand to the world of animal tales and fables and on the other hand to the legends of the saints. In the former a simple moral sense is kindled and nurtured, while in the latter a sense of reverence is fostered for what is good and true, and for those who strive to serve higher principles. Number work is taken further with more involved written and mental arithmetic, and with the rhythmic learning of the rest of the multiplication tables.</p>
		<p>In <strong>Class Three (age 8-9)</strong> the stories are taken from the Old Testament. The children now begin a process of inner change, gradually becoming aware of a separateness from the world around. This can be a difficult period for the child, and the story of Moses leading the Israelites through the wilderness may strike an echo in the child of the soul journey that he or she is now making. The children now also begin to realise how they have the capacity to work upon their environment, and thus we have main lessons on house-building and farming, where practical projects are undertaken. In numbers too we step strongly into the practical world by exploring measurement, weight, time and money.</p>
		<p>In <strong>Class Four (age 9-10)</strong> the child begins to explore ever more boldly the world around: main lessons in local geography and local history take place, as does too a study of the animal world and its relationship to the human being. Number work moves on to the introduction of fractions. The Norse myths form the story background to this year, and the &lsquo;twilight of the Gods&rsquo; strikes a powerful chord in the young child in its continuing inner process of &lsquo;coming down to earth&rsquo;. Yet this period is generally a harmonious and sunny one, and the latter part of Class Four together with Class Five is often refereed to as the &lsquo;golden age&rsquo; of childhood.</p>
		<p>In <strong>Class Five (age 10-11)</strong> we see the introduction of history proper: after the experiencing of the development of human consciousness through the progression of Indian, Persian and Egyptian mythologies the children arrive at the &lsquo;cradle of Europe&rsquo; in a study of early Greece. Geography now expands to cover the British Isles, and the intellect is increasingly engaged as we move on to decimals and first geometry principles. In spite of such developments the children are still very much approached through the imagination, rather than through mere dry headwork. Also in this year are main lessons which explore the world of plants, following on from the animal study of the previous class.</p>
		<p>In <strong>Class Six (11-12)</strong> the history main lessons take the pupil forward to Roman times and on into the Middle Ages, while geography expands to cover the whole of Europe. Physics is now introduced with a study of heat, light and sound, and the study of the natural world now moves on into the mineral realm as geology lessons explore, for example, the phenomena of granite or limestone landscapes. Mathematics enters the economic domain with a study of percentages, and the formulae encountered here begin the approach to algebra. Geometry meanwhile moves forward to examine some of the fundamental theorems.</p>
		<p>In <strong>Class Seven (age 12-13)</strong> the expansion into the wider perspective continues: in geography, cultures of the world are investigated, while history lessons look at the renaissance and the age of the great explorers. Physics lessons continue with mechanics, magnetism and electricity, and chemistry is now begun with a study of combustion. In English the expressive capabilities of language are developed; maths moves on into algebra, and in geometry Pythagoras&rsquo; theorem and its applications are examined. Health, hygiene and nutrition come now, at an age when the children are becoming increasingly aware of their own bodies; in complete contrast to this is the introduction of astronomy, which forms a healthy balance to such preoccupations.</p>
		<p><strong>Class</strong> <strong>Eight (age 13-14)</strong> marks the culmination and completion of the pupil&rsquo;s at Nant-y-Cwm. History is brought up to the present day; geography looks at the world as a whole and includes a study of climate. Anatomy and physiology are introduced, and physics and chemistry are further developed. At Nant-y-Cwm we are very aware that most children will be moving on to state schools, and to GCSEs and A-levels, and our teachers make every effort to keep themselves informed as to what the pupils&rsquo; needs will be, in order to ensure a smooth and happy transition to the new environment. The pupils of Class Eight traditionally perform a substantial stage play to conclude the year and to celebrate the completion of their passage through the school.</p>
	</section>

	<section id="kindergarten">
  		<div class="page-header">
  			<h2>Kindergarten</h2>
  		</div>

  		<p>Imaginative play has a very important role in a child's development and forms a major part of the kindergarten day.  We work with a strong rhythm that remains the same from day to day and week to week, season to season and year to year. The rhythm becomes deeply rooted in the children allowing them to know what the day will bring.</p>

		<h3>Head, Heart and Hands</h3>
		<p>Steiner education focuses on the development of the whole child, Head, Heart and Hand, in a loving environment through rhythm, repetition and reverence.</p>

		<p>Nant-y-Cwm Kindergarten provides a special place for all children. Imaginative play has a very important role in a child&rsquo;s development and forms a major part of the kindergarten day.</p>

		<p>We work with a strong rhythm that remains the same from day to day and week to week, season to season and year to year. The rhythm becomes deeply rooted in the children allowing them to know what the day will bring.</p>

		<p>The teacher and assistant carry out the day&rsquo;s work and the children can choose to play or join the adults. Through imitation the children learn how to carry out tasks. Young and new children often stay by the teacher&rsquo;s or assistant&rsquo;s side for the majority of the day until little by little they are ready to play with the other children.</p>

		<p>During our daily walks through the local woods, playing in the stream or making dens in the wild garden the children gain reverence and learn how to care for the natural world. We work with the seasons in ring time with songs, poems and movement, which are repeated for a half term and the children get to know the gestures and words to each song and verse. Stories, with rich language, are told by the teacher or a puppet show may be given</p>

  		<h3>The Kindergarten day has a natural rhythm</h3>

		<p>Children arrive between 8.50-9.00. The children have time for imaginative play, and taking part in the tasks e.g. sewing, woodwork, making, cleaning toys, preparing food for the following day&rsquo;s snack, etc. Children are welcome, but not required, to help. As the teacher and assistant show devotion for their work they inspire the children to find happiness in their play. Tidy time brings the end of play and all the children are encouraged to be involved.</p>

		<p>We then come together for ring-time, filled with seasonal songs, movement, gestures and poems; it is a time for listening. Children will participate when they are ready to do so. We are sensitive to those children who wish to be observers.</p>

		<p>We wash our hands and prepare for a wholesome snack, a time for talking and sharing. A candle is lit and a blessing said to show appreciation for our food. We clear away together.</p>

		<p>We put on appropriate clothes and go out for a walk in the woods, down by the stream or up the hill, or play in the garden. The teacher and assistant take on a task, which the children are welcome to take part in.</p>

		<p>Story is a calm end to the morning. &nbsp;The story is normally told rather than read so that the children are free to develop their own images and feel part of the group; it sometimes takes the form of a simple puppet play. A farewell verse is said and children are taken to meet their parent/carer.</p>

		<p>Some children stay for the afternoon, they rest for a short while before eating their healthy packed lunches, then more play, this can be a calm time after a busy morning.</p>

		<p>Indoors: For warmth and hygiene purposes we wear slippers.</p>

		<p>Outdoors: We try to go out whatever the weather so your child will need: Waterproofs, wellington boots, warm/sun hat, scarf and gloves, if cold, a change of clothes (just in case)</p>
	</section>

	<section id="parent-child">
		<div class="page-header">
			<h2>Parent and Child Group</h2>
		</div>

		<p>The parent and toddler group aims to provide a place where parents and children under three and a half can communicate through play, songs, artistic and practical activities.</p>

		<h3>Peaceful Environment</h3>
		
		<p>Our group aims to provide a peaceful environment free of pressures, where children can find the time, space and equipment for creative play. This strengthens the imagination and gives them the ability to unfold themselves. Parents might also find some stillness, support or inspiration from each other for everyday parenting. This group is based on the observation that young children learn through imitation and repetition, so use is made of imitation and example rather than instruction and direction. There are no expectations that you oblige your child to join in but that you do so yourself. Sessions have a rhythmic structure and the seasonal songs and stories are repeated for each half term, so children and parents may learn them by heart!</p>

		<p>We begin each morning with bread making, encouraging the children to shape and create their own piece of bread, which is then baked in the oven, after this we clear the table ready for the seasonal craft. Play and craft activities run alongside each other for about 40 minutes. The idea is that if working parents/adults are present, children relax and are stimulated in their play. They become active and learn independently through play and &nbsp;imitation of the adults and join in the craft activity if they are ready. There will be a different craft activity each week, making something for the children or the home. Natural materials found on walks are used, such as conkers, pine cones, leaves, etc. You are welcome to bring your own craft project and share it with the group, if you wish! A tidy up song will mark the transition to snack time. We take time to lay the table and bless the food and eat the delicious bread we made earlier, children are encouraged to stay at the table during snack time but are not expected to. After sharing snack at the table we say thank you for the meal and tidy away. Once the space is cleared we are ready for ring time, where we gather to listen to a story of a little child, each week following their journey from home to the countryside and hearing about their encounters on the way with the animals and nature along their path. We will sing seasonal songs and nursery rhymes mixed in with the story. After ring time we end the morning session with a &nbsp;goodbye song.</p>

		<p>Our sessions are on Tuesdays, Wednesdays and Thursdays from 10-12.45. &nbsp;Please contact the office if you are interested in joining one of our groups.</p>
	</section>
</div>