<div class="span3 sidebar" id="subnav">
	<ul class="nav nav-list sidenav">
		<li class="<%=ScmsHelpers.isActive("about", page.name)%>"><a href="about.html">History</a></li>
		<li class='<%=ScmsHelpers.isActive("about-festivals", page.name)%>'><a href="about-festivals.html">Festivals</a></li>
      	<li class='<%=ScmsHelpers.isActive("about-staff", page.name)%>'><a href="about-staff.html">Staff</a></li>
	</ul>
</div>