<div class="span3 sidebar" id="subnav">
	<ul class="nav nav-list sidenav">
		<li class="active"><a href="#history"><i class="icon-chevron-right"></i> History</a></li>
		<li><a href="#festivals"><i class="icon-chevron-right"></i> Festivals</a></li>
		<li><a href="#staff"><i class="icon-chevron-right"></i> Staff</a></li>
	</ul>
</div>

<div class="span9">
	<section id="history">
		<div class="page-header">
		 	<h2>Our History</h2>
		</div>  
		<%= Scms.renderView("_pages/about/history.html", page) %>
	</section>

	<section id="festivals">
		<div class="page-header">
		 	<h2>Festivals</h2>
		</div>
		<%= Scms.renderView("_pages/about/festivals-intro.html", page) %>
		<%= Scms.renderView("_pages/about/festivals.xml", page) %>
	</section>

	<section id="staff">
		<div class="page-header">
		 	<h2>Staff</h2>
		</div>
		<%= Scms.renderView("_pages/about/staff.xml", page) %>
	</section>
</div>

