<p>The fund-raising team, are always looking for new ideas, but more importantly people who can help carry them out!! If you want to join us, <a class="sendmail" href="http://cprobert.wufoo.com/forms/nanyycwm/">get in touch with V</a> at the office.</p>
<p><a class="btn" data-original-title="What we have achieved" href="#" id="acheived2011" title="">Achievements &raquo;</a></p>

<script>
    $(function(){
        $('#acheived2011').popover({
            html: true,
            placement: "right",
            content: "  <ul><li>jumble sale - 60 + 100</li><li>jumble sale - 45</li><li>car boot sale - 20</li><li>bag to school - 80</li>  <li>plant sale at open day - 65.69</li<li>easyfundrasing</li><li>michaelmas fair</li><li>green fair</li><li>advent fair</li><li>summer fair</li><li>auction of promises</li></ul>"
        }).click(function(e){
            e.preventDefault();
        });
    });
</script>
