<h1>Community</h1>

<p>Nant-y-Cwm has a flourishing and thriving community both inside and outside of school hours which we are very proud of. This section is for parents and prospective parents.</p>

<p style="margin-top: 40px;">
    <a class="btn btn-primary btn-large" href="http://content.yudu.com/Library/A25vy1/NantyCwmSteinerSchoo/resources/index.htm?referrerUrl=http%3A%2F%2Ffree.yudu.com%2Fitem%2Fdetails%2F874086%2FNant-y-Cwm-Steiner-School-Prospectus" target="_blank">Prospectus &raquo;</a>
    <a class="btn btn-success btn-large" href="/downloads/parents-handbook-2013.pdf" target="_blank">Parents Handbook &raquo;</a>
    <a class="btn btn-warning btn-large" href="http://nant-y-cwm.us6.list-manage1.com/subscribe?u=dc757355011603ff02cf7b9e9&id=2c085996f2" target="_blank">Community Newsletter &raquo;</a>
</p>
