@font-face {
    font-family: 'sophia';
    src: url('sophia.eot');
    src: url('sophia.eot?#iefix') format('embedded-opentype'),
         url('sophia.woff') format('woff'),
         url('sophia.ttf') format('truetype'),
         url('sophia.svg#sophia') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sophiabold';
    src: url('sophia-bold.eot');
    src: url('sophia-bold.eot?#iefix') format('embedded-opentype'),
         url('sophia-bold.woff') format('woff'),
         url('sophia-bold.ttf') format('truetype'),
         url('sophia-bold.svg#sophiabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sophiaitalic';
    src: url('sophia-italic.eot');
    src: url('sophia-italic.eot?#iefix') format('embedded-opentype'),
         url('sophia-italic.woff') format('woff'),
         url('sophia-italic.ttf') format('truetype'),
         url('sophia-italic.svg#sophiaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

