<div class="featurette">
   <h2 class="featurette-heading">Nant-y-Cwm Winter Craft Fair</h2>
   <h3>Nov 29th 2014 - Clunderwen Community Hall</h3>
 	
	<p>We have some great stalls this year for you to pick up some beautiful handcrafted Christmas gifts.</p>

	<ul class="nav nav-tabs nav-stacked">
		<li><a href="#">Imogen's Nomad Clothing - Fair trade clothing</a></li>
		<li><a href="#">Sam's Love Zimbabwe - Gifts from Zibabwe</a></li>
		<li><a href="#">Emma's Dry flower Wreaths and Ceramic Candle holders</a></li>
		<li><a href="#">Bettina's wool and wool products</a></li>
		<li><a href="#">Dianne and Rebecca's Pottery and wooden Nik-Naks</a></li>
		<li><a href="#">Rachael's Moontimes products</a></li>
		<li><a href="#">Hoppi's Flower Power Organics</a></li>
		<li><a href="#">Regina's Waldorf Dolls</a></li>
		<li><a href="#">Holly and Meg with their Henna, Wood sculptures and Waistcoats</a></li>
		<li><a href="#">Bean from Artisan Rising with their Stain glass</a></li>
		<li><a href="#">Sally, Jenni and Emma with their Clothes and Nik-Naks</a></li>
		<li><a href="#">Sian's Natural dye products inc. bees wax crayons and textiles</a></li>
		<li><a href="#">Marianne with the School shop</a></li>
		<li><a href="#">Nikki with Floris Books</a></li>
		<li><a href="#">Cree and her crafty pomanders</a></li>
		<li><a href="#">Michelle's Christmas Wreath making</a></li>
	</ul>

	<p><strong>Plus:</strong></p>
	<p>There'll be story telling, a puppet show, childrens craft activities, luck dip, face painting, carol singing, the most delicious world food from the Nant-y-Cwm Cafe (which this is year is being run by our very own Class 6/7).</p>

	<p>Find more details on <a href="https://www.facebook.com/events/310515885798564/" target="fb">Facebook</a>.  Talk about fun packed. Cant wait to see you there.</p>
</div>

<hr class="featurette-divider" />