<h2 class="featurette-heading">Term Dates 2014/15</h2>
<br />

<div class="row-fluid">
	<ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail"><img alt="Spring Term" src="images/terms/fractions.jpg" style="margin-top: 20px;" />
				<div class="caption">
					<h3>Half Terms</h3>
					<p>
						16th - 20th February 2015 <br />
						25th - 29th May 2015
					</p>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail"><img alt="Half Term" src="images/terms/spring.jpg" style="margin-top: 20px;" />
				<div class="caption">
					<h3>Spring Term 2015</h3>
					<p>
						8th January - 20th March 2015
					</p>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail"><img alt="Half Term" src="images/terms/summer.jpg" style="margin-top: 20px;" />
				<div class="caption">
					<h3>Summer Term 2015</h3>
					<p>
						13th April - 10th July 2015
					</p>
				</div>
			</div>
		</li>
		<li class="span3">
			<div class="thumbnail"><img alt="Autumn Term" src="images/terms/autum.jpg" style="margin-top: 20px;" />
				<div class="caption">
					<h3>Autumn Term 2015</h3>
					<p>
						9th September - 11th December 2015
					</p>
				</div>
			</div>
		</li>
	</ul>
</div>

<div class="alert alert-info">
	<h4>Inset Days:</h4>
	<p>
		7th & 8th September 2015
	</p>
</div>

