<!-- Carousel -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="~/images/carousel/nany-y-cwm-school.png" alt="Carousel">
      <div class="container">
        <div class="carousel-caption">
          <h1>An idyllic setting for children</h1>
          <p class="lead">
            Nant-y-Cwm school was founded in 1979 by a group of like-minded parents, it is one of over 900 Steiner Waldorf Schools and is located in a wooded valley in rural Pembrokeshire.
          </p>
          <a class="btn btn-large btn-primary" href="http://content.yudu.com/Library/A25vy1/NantyCwmSteinerSchoo/resources/index.htm?referrerUrl=http%3A%2F%2Ffree.yudu.com%2Fitem%2Fdetails%2F874086%2FNant-y-Cwm-Steiner-School-Prospectus">Get Prospectus</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="~/images/carousel/kindergarten.jpg" alt="Image of Children">
      <div class="container">
        <div class="carousel-caption">
          <h1>Kindergarten</h1>
          <p class="lead">We have a flourishing school community with around 50 children in the Kindergarten and Main School. We also run a thriving Family Playgroup.</p>
          <a class="btn btn-large btn-primary" href="~/education/#kindergarten">Learn more</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

